body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $ff;
    line-height: 1.12;
    font-size: 1.25rem;
}

.h1 {
    font-size: 2rem;
    font-weight: 500;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.75rem;
}

.body {
    font-size: 1.25rem;
}

.body-2 {
    font-size: 0.75rem;
}

strong {
    color: $primary-color;
}

 a{
     text-decoration: none;
 }

.container {
    max-width: 50em;
    height: 100%;
    margin: 0 auto;
}

.main {
    padding-left: 1rem;
    padding-right: 1rem;
}

.topbar {
    text-align: center;
    min-height: 4.5rem;
    border-bottom: 1px solid $primary-color;
    margin-bottom: 4rem;
}

.question {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

.question  {
    padding: 2rem;
    text-align: center;
}

.text-align-center {
    text-align: center;
}